<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="css/nav.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<body>
    <header id="header">
        <nav>
          <div class="container">
            <div class="logo">
              <a href="/">
                <img src="/images/logo.png" alt="" />
              </a>
            </div>

            <div class="links">
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/tracker">Start Tracking</a>
                </li>
                <li>
                  <a href="/summary" >View Summary</a>
                </li>
                <li>
                  <a href="/logout" >Logout</a>
                </li>
              </ul>
            </div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </nav>
      </header>
</body>
</html>